footer {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .footer-column {
    margin-bottom: 30px;
  }
  
  .footer-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-icon-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-icon-list li {
    margin-bottom: 10px;
  }
  
  .footer-icon-list li i {
    margin-right: 5px;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }
  
  .footer-subheading {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-newsletter {
    display: flex;
    align-items: center;
  }
  
  .footer-newsletter input {
    flex-grow: 1;
    margin-right: 10px;
  }
    /* Style the icons */
    .footer-icon-list li i {
      background-color: #f8f9fa; /* Change background color on hover */
      border: 2px solid #ddd; /* Set border color */
      border-radius: 50%; /* Make the icon circle */
      padding: 7px; /* Add some padding to make it circular */
      margin-right: 10px; /* Add some spacing between the icon and text */
      color: #000; /* Set icon color */
      transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
    }
  
    /* Change icon color on hover */
    .footer-icon-list li i:hover {
      background-color: #007bff; /* Change background color on hover */
      color: #fff; /* Change icon color on hover */
    }