
.service-column {
    background-color: #f3f3f3; /* Default background color */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.service-column:hover {
    background-color: #42b983; /* Background color on hover */
}

.service-icon {
    font-size: 36px;
    color: #000; /* Icon color */
}
.service-icon:hover {
    font-size: 36px;
    color: #fff; /* Icon color */
}
